{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
<h3>Welcome</h3>
<hr />
    <!-- Hier können Sie HTML für Ihr Dashboard erstellen -->
    <p>This application is in development. The name of this application is called <br />
    <span class="font-weight-bold">PlentyRESTApiTools</span>, there are many thing on the <i>todo list</i></p>

<p class="mt-5"></p>
<h4>News/Updates/Log</h4>        
<article>
    <span class="small">Lore ipsum</span>
</article>
</div>
</div>

{% endblock %}